# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Environment variables
.env

# Django
*.log
staticfiles/
media/
db.sqlite3

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db
